{{#if formSubmitted}}
  {{loading-spinner}}
{{else}}

  {{#if cancel}}
    <button class="button-alt" {{action 'cancel' target='view.parentView'}} type="reset">
      {{cancelText}}
    </button>
  {{/if}}

  {{#if submit}}
    <button class="button-primary" type="submit">
      <i class='icon-correct'></i>
      <span class="text">{{submitText}}</span>
    </button>
  {{/if}}

{{/if}}
