{{#if cancel}}
  {{form-submission-button
    action=cancelAction
    className='button-secondary'
    disabled=formIsSubmitted
    text=cancelText
    type='reset'
  }}
{{/if}}

{{#if delete}}
  {{form-submission-button
    action=deleteAction
    className='button-primary'
    disabled=formIsSubmitted
    text=deleteText
  }}
{{/if}}

{{#if save}}
  {{#form-submission-button
    action=saveAction
    className='button-primary'
    disabled=formIsSubmitted
    type='submit'
  }}
    <span class="icon-success"></span>
    <span class="text">{{saveText}}</span>
  {{/form-submission-button}}
{{/if}}

{{yield}}

{{!-- {{#if formIsSubmitted}}
  {{partial 'form-is-submitted'}}
{{/if}}
 --}}
