<h1 class="hidden">Product Roadmap</h1>

<h2 class="hidden">Dates</h2>

<ol class="roadmap_months">
  {{#each month in months}}
    <li class="roadmap_month" {{bind-attr style=monthStyle}}>
      {{month}}
    </li>
  {{/each}}
</ol>

<h2 class="hidden">Features</h2>

<p>{{view.numberOfDays}}</p>

<ul class="roadmap_features">
  {{#each feature in features itemViewClass='feature/list-item'}}

    {{#link-to 'feature' feature}}
      {{feature.name}}
    {{/link-to}}

    <p>{{view.daysOffset}}</p>

    <ol>
      {{#each stage in feature.stages}}
        <li>{{stage.duration}}</li>
      {{/each}}
    </ol>

  {{/each}}
</ul>
