<h1 class="hidden">Product Roadmap</h1>

<h2 class="hidden">Dates</h2>

<ol class="roadmap_months">
  {{#each months as |month|}}
    <li class="roadmap_month" style="{{monthStyle}}">
      {{month}}
    </li>
  {{/each}}
</ol>

{{#if todayLineStyle}}
  <dl class="roadmap_today" style="{{todayLineStyle}}">
    <dd class="hidden">Current Date</dd>
    <dd class="hidden">{{moment today}}</dd>
  </dl>
{{/if}}

<div class="roadmap_lanes">
  {{#each lanes as |lane|}}
    <span class="roadmap_lane" style="{{lane.style}}">
    </span>
  {{/each}}
</div>

<h2 class="hidden">Features</h2>

{{roadmap-features features=sortedFeatures}}
