<h1 class="hidden">Product Roadmap</h1>

<h2 class="hidden">Dates</h2>

<ol class="roadmap_months">
  {{#each month in months}}
    <li class="roadmap_month" {{bind-attr style=monthStyle}}>
      {{month}}
    </li>
  {{/each}}
</ol>

{{#if todayLineStyle}}
  <dl class="roadmap_today" {{bind-attr style=todayLineStyle}}>
    <dd class="hidden">Current Date</dd>
    <dd class="hidden">{{moment today}}</dd>
  </dl>
{{/if}}

<div class="roadmap_lanes">
  {{#each lane in lanes}}
    <span class="roadmap_lane" {{bind-attr style=lane.style}}>
    </span>
  {{/each}}
</div>

<h2 class="hidden">Features</h2>

{{view 'features/index' content=features}}
