{{#page-header class='overview'}}

  <div class="heading_row">
    <h1>{{capitalize-string name}}</h1>

    {{#link-to 'feature.edit' content class='sub'}}
      <span class="icon-pencil sub"></span>
      <span class="hidden">Edit</span>
    {{/link-to}}

    <dl class="tasks_completed">
      <dt class="hidden">Task progress</dt>
      <dd>{{completedTasks.length}} / {{tasks.length}}</dd>
    </dl>
  </div>

  {{progress-bar value=completedTasks.length max=tasks.length}}

  <dl class="dates_list {{if datePositionsSet 'fade-in'}}">
    <dt class="hidden">Feature start date</dt>
    <dd>{{moment startDate shortDateFormat}}</dd>

    <dt class="hidden">Development start date</dt>
    <dd class="lower_date" style="{{lowerDatePosition}}">
      {{moment lowerDate shortDateFormat}}
    </dd>

    <dt class="hidden">Testing start date</dt>
    <dd class="upper_date" style="{{upperDatePosition}}">
      {{moment upperDate shortDateFormat}}
    </dd>

    <dt class="hidden">Feature end date</dt>
    <dd>{{moment endDate shortDateFormat}}</dd>
  </dl>

{{/page-header}}

<h2 class="hidden">Stages</h2>

<ul class="stages_list {{if datePositionsSet 'fade-in'}}">
  {{#each stages as stage itemViewClass='stage-block'}}
    <h3 class="hidden">{{stage.type.name}}</h3>
    <div class="progress" style="{{view.progressStyle}}">
    </div>
    <dl>
      <dt>
        <span class="hidden">Number of</span> {{stage.type.name}} <span class="hidden">tasks completed</span>
      </dt>
      <dd>
        {{stage.completedTasks.length}} / {{stage.tasks.length}}
      </dd>
    </dl>
  {{/each}}
</ul>

{{#page-content}}

  <div class="heading_wrapper">
    <h1 class="heading">Tasks</h1>

    <div class="filters">

      <h2 class="hidden">Filters</h2>

      {{!-- TODO - add icons to on and off --}}
      {{#if showPersonalToggle}}
        {{x-toggle
          on='Personal:true'
          off='Team:false'
          size='small'
          showLabels='true'
          value=showPersonalString
        }}
      {{/if}}

      {{styled-checkbox checked=showResearch label='research'}}
      {{styled-checkbox checked=showDevelopment label='development'}}
      {{styled-checkbox checked=showTesting label='testing'}}
      {{styled-checkbox checked=showCompleted label='completed'}}
    </div>
  </div>

  {{#link-to 'tasks.new'}}
    <span class="icon-write"></span>
    <span class="text">Add a task</span>
  {{/link-to}}

  {{#if showResearch}}
    <ul class="tasks_list-research {{showCompleted}}">
      {{#each task in researchTasks itemController='task/list-item'}}
        {{partial 'task/list-item'}}
      {{/each}}
    </ul>
  {{/if}}

  {{#if showDevelopment}}
    <ul class="tasks_list-development {{showCompleted}}">
      {{#each developmentTasks as task itemController='task/list-item'}}
        {{partial 'task/list-item'}}
      {{/each}}
    </ul>
  {{/if}}

  {{#if showTesting}}
    <ul class="tasks_list-testing {{showCompleted}}">
      {{#each testingTasks as task itemController='task/list-item'}}
        {{partial 'task/list-item'}}
      {{/each}}
    </ul>
  {{/if}}

{{/page-content}}
