{{#page-header class='overview'}}

  <div class="heading_row">
    <h1>{{name}}</h1>

    {{#link-to 'feature.edit' content class='sub'}}
      <span class="icon-pencil"></span>
      <span class="hidden">Edit</span>
    {{/link-to}}

    <dl class="tasks_completed">
      <dt class="hidden">Task progress</dt>
      <dd>{{completedTasks.length}} / {{tasks.length}}</dd>
    </dl>
  </div>

  {{progress-bar value=completedTasks.length max=tasks.length}}

  <dl {{bind-attr class=':dates_list datePositionsSet:fade-in'}}>
    <dt class="hidden">Feature start date</dt>
    <dd>{{moment startDate shortDateFormat}}</dd>

    <dt class="hidden">Development start date</dt>
    <dd class="lower_date" {{bind-attr style=lowerDatePosition}}>
      {{moment lowerDate shortDateFormat}}
    </dd>

    <dt class="hidden">Testing start date</dt>
    <dd class="upper_date" {{bind-attr style=upperDatePosition}}>
      {{moment upperDate shortDateFormat}}
    </dd>

    <dt class="hidden">Feature end date</dt>
    <dd>{{moment endDate shortDateFormat}}</dd>
  </dl>

{{/page-header}}

<h2 class="hidden">Stages</h2>

<ul {{bind-attr class=':stages_list datePositionsSet:fade-in'}}>
  {{#each stage in stages itemViewClass='stage-block'}}
    <h3 class="hidden">{{stage.type.name}}</h3>
    <div class="progress" {{bind-attr style='view.progressStyle'}}>
    </div>
    <dl>
      <dt>
        <span class="hidden">Number of</span> {{stage.type.name}} <span class="hidden">tasks completed</span>
      </dt>
      <dd>
        {{stage.completedTasks.length}} / {{stage.tasks.length}}
      </dd>
    </dl>
  {{/each}}
</ul>

{{#page-content}}

  {{#link-to 'tasks.new' content}}Add task{{/link-to}}

  <h1 class="heading">Tasks</h1>

  <ul>
    {{#each task in tasks}}
      <li {{bind-attr class='task.stageName'}}>
        {{#link-to 'task.edit' task}}
          {{task.name}}
        {{/link-to}}
      </li>
    {{else}}
      {{#flash-message type='info'}}
        No tasks!
      {{/flash-message}}
    {{/each}}
  </ul>

{{/page-content}}
