{{feature-navigation}}

{{#page-header class='overview'}}

  <div class="heading_row">
    <h1>{{capitalize-string model.name}}</h1>

    {{#link-to 'feature.edit' model class='sub'}}
      <span class="icon-pencil sub"></span>
      <span class="hidden">Edit</span>
    {{/link-to}}

    <dl class="tasks_completed">
      <dt class="hidden">Task progress</dt>
      <dd>
        {{#if model.inBacklog}}
          {{#link-to 'feature.edit' model
            (query-params inBacklog=false)
            class='button-primary'
            tooltipContent='This feature is not in the roadmap'
            tooltipEffectClass='slide'
            tooltipTypeClass='white'
            tooltipPlace='left'
            tooltipEvent='ready'
          }}
            <span class="icon-calendar"></span>
            <span class="text">Set goals</span>
          {{/link-to}}
        {{else}}
          {{completedTasks.length}} / {{model.tasks.length}}
        {{/if}}
      </dd>
    </dl>
  </div>

  {{progress-bar value=completedTasks.length max=model.tasks.length}}

  <dl class="dates_list {{if datePositionsSet 'fade-in'}}">
    {{#unless model.inBacklog}}

      <dt class="hidden">Feature start date</dt>
      <dd>{{moment model.startDate shortDateFormat}}</dd>

      <dt class="hidden">Development start date</dt>
      <dd class="lower_date" style={{lowerDatePosition}}>
        {{moment lowerDate shortDateFormat}}
      </dd>

      <dt class="hidden">Testing start date</dt>
      <dd class="upper_date" style={{upperDatePosition}}>
        {{moment upperDate shortDateFormat}}
      </dd>

      <dt class="hidden">Feature end date</dt>
      <dd>{{moment model.endDate shortDateFormat}}</dd>

    {{/unless}}
  </dl>

{{/page-header}}

<h2 class="hidden">Stages</h2>

<ul class="stages_list {{if datePositionsSet 'fade-in'}}">
  {{#each model.stages as |stage|}}
    {{#if stage.duration}}
      {{stage-block stage=stage}}
    {{/if}}
  {{/each}}
</ul>

{{#page-content}}

  <div class="heading_wrapper">
    <h1 class="heading">Tasks</h1>

    {{#if model.tasks.length}}
      <div class="filters">

        <h2 class="hidden">Filters</h2>

        {{!-- TODO - add icons to on and off --}}
        {{#if showPersonalToggle}}
          {{x-toggle
            on='Personal:true'
            off='Team:false'
            size='small'
            showLabels='true'
            value=showPersonalString
          }}
        {{/if}}

        {{styled-checkbox checked=showResearch label='research'}}
        {{styled-checkbox checked=showDevelopment label='development'}}
        {{styled-checkbox checked=showTesting label='testing'}}
        {{styled-checkbox checked=showCompleted label='completed'}}
      </div>
    {{/if}}
  </div>

  {{#link-to 'tasks.new'}}
    <span class="icon-write"></span>
    <span class="text">Add a task</span>
  {{/link-to}}

  {{#if showResearch}}
    <ul class="tasks_list-research {{showCompleted}}">
      {{#each researchTasks as |task|}}
        {{#unless (and showPersonal (eq session.currentUser.id task.assignee.id))}}
          {{#unless (and showCompleted task.completed)}}
            {{task-list-item task=task}}
          {{/unless}}
        {{/unless}}
      {{/each}}
    </ul>
  {{/if}}

  {{#if showDevelopment}}
    <ul class="tasks_list-development {{showCompleted}}">
      {{#each developmentTasks as |task|}}
        {{#unless (and showPersonal (eq session.currentUser.id task.assignee.id))}}
          {{#unless (and showCompleted task.completed)}}
            {{task-list-item task=task}}
          {{/unless}}
        {{/unless}}
      {{/each}}
    </ul>
  {{/if}}

  {{#if showTesting}}
    <ul class="tasks_list-testing {{showCompleted}}">
      {{#each testingTasks as |task|}}
        {{#unless (and showPersonal (eq session.currentUser.id task.assignee.id))}}
          {{#unless (and showCompleted task.completed)}}
            {{task-list-item task=task}}
          {{/unless}}
        {{/unless}}
      {{/each}}
    </ul>
  {{/if}}

{{/page-content}}
