<div class="overview">
  <h1>
    <span class="text">{{name}}</dpan>

    {{#link-to 'feature.edit' content class="icon"}}
      <span class="icon-edit"></span>
      <span class="hidden">Edit</span>
    {{/link-to}}
  </h1>

  {{progress-bar}}
</div>

{{#link-to 'tasks.new' content}}Add task{{/link-to}}

<p>
  {{moment startDate dateFormat}}
  -
  {{moment endDate dateFormat}}
</p>

<ol>
  {{#each stage in stages}}
    <li>{{stage.duration}}</li>
  {{/each}}
</ol>

<ul>
  {{#each task in tasks}}
    <li {{bind-attr class='task.stage.type.name'}}>
      {{#link-to 'task.edit' task}}
        {{task.name}}
      {{/link-to}}
    </li>
  {{/each}}
</ul>
