{{#page-header}}
  <h1 class="heading">Edit Your Profile</h1>
{{/page-header}}

{{#page-content class='center'}}

  {{#form-wrapper}}
    {{#form-controls legend='Edit your profile and team'}}
      {{input-group value=model.firstName}}
      {{input-group value=model.lastName}}
      {{input-group
        hint=teamHint
        label='Team ID'
        value=model.teamId
      }}
      {{input-group value=model.avatarUrl}}
      {{!-- TODO - image preview --}}
      {{input-group
        placeholder='Optional'
        value=model.email
      }}
    {{/form-controls}}

    {{form-submission}}
  {{/form-wrapper}}

{{/page-content}}
