{{#page-header}}
  <h1 class="heading">Edit Your Profile</h1>
{{/page-header}}

{{#page-content}}

  {{#form-wrapper}}
    {{#form-controls legend='Edit your profile and team'}}
      {{input firstName}}
      {{input lastName}}
      {{input teamId hint=teamHint}}
      {{input avatarUrl}}
      {{input email}}
    {{/form-controls}}

    {{form-submission}}
  {{/form-wrapper}}

{{/page-content}}
