<form>
  {{input firstName}}
  {{input lastName}}
  {{input teamId hint='Don\'t know your team ID? Ask a colleague.'}}
  {{team.name}}

  {{input avatarUrl}}
  {{input email}}

  {{form-submission}}
</form>
