{{#page-header}}
  <h1 class="heading">Edit Your Profile</h1>
{{/page-header}}

{{#page-content class='center'}}

  {{#form-wrapper}}
    {{#form-controls legend='Edit your profile and team'}}
      {{input firstName}}
      {{input lastName}}
      {{input teamId hint=teamHint label='Team ID'}}
      {{input avatarUrl}}
      {{!-- TODO - image preview --}}
      {{input email placeholder='Optional'}}
    {{/form-controls}}

    {{form-submission}}
  {{/form-wrapper}}

{{/page-content}}
