{{#page-header}}
  {{#if walkthroughComplete}}
    {{#if new}}
      <h1>New Feature</h1>
    {{else}}
      <h1>Edit Feature</h1>

      {{#form-submission-button
        action='confirmDelete'
        className='button-primary-alt'
        disabled=formIsSubmitted
      }}
        <span class="icon-trash"></span>
        <span class="text">Delete</span>
      {{/form-submission-button}}
    {{/if}}
  {{else}}
    <h1>
      Have dates for the feature been identified?
    </h1>
  {{/if}}
{{/page-header}}

{{#page-content class='center'}}

  {{#if walkthroughComplete}}
    {{#form-wrapper}}
      {{#form-controls legend='Create a new feature'}}

        {{input-group property='name'}}

        {{#unless model.inBacklog}}
          {{datepicker-group
            property='startDate'
            maxDate=model.endDate
            classNameBindings='model.inBacklog:hidden'
          }}

          {{datepicker-group
            label='Release date'
            property='endDate'
            minDate=model.startDate
            classNameBindings='model.inBacklog:hidden'
          }}

          <ol class="range_slider_caption {{if model.stages.length 'fade-in' 'fade-out'}}">
            {{#each model.stages as |stage|}}
              <li class="{{stage.type.name}}">
                {{item-inflection stage.numberOfWorkingDays 'day'}} of {{capitalize-string stage.type.name}}
              </li>
            {{/each}}
          </ol>

          {{range-slider
            lower=lowerDuration
            upper=upperDuration
            max=model.totalDuration
            startDate=model.startDate
            visible=model.stages.length
          }}
        {{/unless}}

        {{!-- TODO --}}
        {{!-- {{partial 'form-components/notes'}} --}}

      {{/form-controls}}

      {{form-submission saveText=saveButtonText}}

    {{/form-wrapper}}
  {{else}}

    <button {{action 'setInBacklog' false}} class="button-box">
      <span class="icon-calendar"></span>
      <span class="text"><strong>Yes!</strong> Let's set some goals</span>
    </button>

    <button {{action 'setInBacklog' true}} class="button-box">
      <span class="icon-dots"></span>
      <span class="text"><strong>No</strong>, let's add it to the backlog</span>
    </button>

  {{/if}}

{{/page-content}}
