{{#page-header}}
  <h1>New Feature</h1>
{{/page-header}}

{{#page-content class='center'}}

  {{#if userCanCreateFeature}}

    {{#form-wrapper}}
      {{#form-controls legend='Create a new feature'}}
        {{input startDate as='date' maxDate=endDate}}
        {{input endDate as='date' minDate=startDate}}

{{!--         {{lowerDuration}}-
        {{upperDuration}} --}}

        {{!-- <div class="control"> --}}
          {{range-slider
            lower=lowerDuration
            upper=upperDuration
            max=totalDuration
          }}
        {{!-- </div> --}}

        {{input name}}
        {{input notes as='text'}}
{{!--
        {{#each stage in stages}}
          Duration: {{stage.duration}}
        {{/each}} --}}
      {{/form-controls}}

      {{form-submission}}
    {{/form-wrapper}}

  {{else}}
    {{loading-spinner}}
  {{/if}}

{{/page-content}}
