{{#page-header}}
  <h1>New Feature</h1>
{{/page-header}}

{{#page-content class='center'}}

  {{currentUser.fullName}}

  {{#form}}
    {{#form-controls legend='Create a new feature'}}

      {{input startDate as='date' maxDate=endDate}}
      {{input endDate as='date' minDate=startDate}}

      {{range-slider
        lower=lowerDuration
        upper=upperDuration
        max=totalDuration
        startDate=startDate
      }}

      {{input name}}

      {{partial 'form-components/notes'}}

    {{/form-controls}}

    {{form-submission}}
  {{/form}}

{{/page-content}}
