{{#page-header}}
  <h1>New Feature</h1>
{{/page-header}}

{{#page-content class='center'}}

  {{#form-wrapper}}
    {{#form-controls legend='Create a new feature'}}

      {{datepicker-group
        value=startDate
        maxDate=endDate
      }}

      {{datepicker-group
        value=endDate
        minDate=startDate
      }}

      {{range-slider
        lower=lowerDuration
        upper=upperDuration
        max=totalDuration
        startDate=startDate
      }}

      {{input-group value=name}}

      {{partial 'form-components/notes'}}

    {{/form-controls}}

    {{form-submission}}

  {{/form-wrapper}}

{{/page-content}}
