{{#page-header}}
  <h1>New Feature</h1>
{{/page-header}}

{{#page-content class='center'}}

  {{#form-wrapper}}
    {{#form-controls legend='Create a new feature'}}

      {{datepicker-group
        value=model.startDate
        maxDate=model.endDate
      }}

      {{datepicker-group
        value=model.endDate
        minDate=model.startDate
      }}

      {{range-slider
        lower=lowerDuration
        upper=upperDuration
        max=model.totalDuration
        startDate=model.startDate
      }}

      {{input-group value=model.name}}

      {{partial 'form-components/notes'}}

    {{/form-controls}}

    {{form-submission}}

  {{/form-wrapper}}

{{/page-content}}
