{{#page-header}}
  <h1>New Feature</h1>
{{/page-header}}

{{#page-content class='center'}}

  {{#if userCanCreateFeature}}

    {{#form-wrapper}}
      {{#form-controls legend='Create a new feature'}}
        {{input startDate as='date' maxDate=endDate}}
        {{input endDate as='date' minDate=startDate}}

        {{range-slider
          lower=lowerDuration
          upper=upperDuration
          max=totalDuration
          startDate=startDate
        }}

        {{input name}}

        {{#if view.showNotes}}
          {{input notes as='text' class=view.notesClassName}}
        {{else}}
          <div class="control">
            <div class="label">
              <span class="hidden">Add notes?</span>
            </div>

            <button class="button-unstyled sub" {{action 'addNotes' target='view'}}>
              <span class="icon-dots"></span>
              <span class="text alt_text">Add notes</span>
            </button>
          </div>
        {{/if}}

      {{/form-controls}}

      {{form-submission}}
    {{/form-wrapper}}

  {{else}}
    {{loading-spinner}}
  {{/if}}

{{/page-content}}
