{{#if userCanCreateFeature}}
  <form>
    {{input startDate as='date' maxDate=endDate}}
    {{input endDate as='date' minDate=startDate}}

    {{lowerDuration}}-
    {{upperDuration}}

    {{range-slider
      lower=lowerDuration
      upper=upperDuration
      max=totalDuration
    }}

    {{input name}}
    {{input notes as='text'}}

    {{#each stage in stages}}
      Duration: {{stage.duration}}
    {{/each}}

    {{form-submission}}
  </form>
{{else}}
Loading
{{/if}}
