{{#page-header}}
  {{#if walkthroughComplete}}
    <h1>New Feature</h1>
  {{else}}
    <h1>Have dates for the feature been identified?</h1>
  {{/if}}
{{/page-header}}

{{#page-content class='center'}}

  {{#if walkthroughComplete}}
    {{#form-wrapper}}
      {{#form-controls legend='Create a new feature'}}

        {{input-group property='name'}}

        {{#unless model.inBacklog}}
          {{datepicker-group
            property='startDate'
            maxDate=model.endDate
            classNameBindings='model.inBacklog:hidden'
          }}

          {{datepicker-group
            property='endDate'
            minDate=model.startDate
            classNameBindings='model.inBacklog:hidden'
          }}

          <div>
            <span class="text">Research</span>
            <span class="text">Development</span>
            <span class="text">Testing</span>
          </div>

          {{range-slider
            lower=lowerDuration
            upper=upperDuration
            max=model.totalDuration
            startDate=model.startDate
          }}
        {{/unless}}

        {{!-- TODO --}}
        {{!-- {{partial 'form-components/notes'}} --}}

      {{/form-controls}}

      {{form-submission saveText=saveButtonText}}

    {{/form-wrapper}}
  {{else}}

    <button {{action 'setInBacklog' false}} class="button-box">
      <span class="icon-calendar"></span>
      <span class="text"><strong>Yes!</strong> Let's set some goals</span>
    </button>

    <button {{action 'setInBacklog' true}} class="button-box">
      <span class="icon-dots"></span>
      <span class="text"><strong>No</strong>, let's add it to the backlog</span>
    </button>

  {{/if}}

{{/page-content}}
