<form>

  {{input name}}
  {{input notes as='text'}}

  {{!-- TODO - set to last used stage --}}
  {{input stage
    as='selectize'
    content=feature.stages
    optionValuePath='content.id'
    optionLabelPath='content.type.capitalizedName'
    placeholder='Select a stage'
  }}

  {{input assignee
    as='selectize'
    content=users
    optionValuePath='content.id'
    optionLabelPath='content.fullName'
    placeholder='Select an assignee'
  }}

  {{#if new}}
    {{input testTaskSelection
      as='selectize'
      content=testTaskOptions
      optionValuePath='content.value'
      optionLabelPath='content.name'
      placeholder='Add a test task?'
    }}
  {{/if}}

  {{!-- TODO - Add test tasks for new only --}}

  {{form-submission}}
</form>
