{{#page-header}}
  <h1 class="title">
    {{#if new}}New{{else}}Edit{{/if}} Task
  </h1>
  <p class="subtitle">{{model.feature.name}}</p>
{{/page-header}}

{{#page-content class='center'}}
  {{#form-wrapper}}

    {{#form-controls legend='Add a new task to the feature'}}

      {{input-group property='name'}}

      {{!-- TODO - set to last used stage --}}
      {{input-group
        property='stage'
        type='selectize'
        content=model.feature.stages
        optionValuePath='content.id'
        optionLabelPath='content.type.capitalizedName'
        placeholder='Select a stage'
        disabled=editing
      }}

      {{input-group
        property='assignee'
        type='selectize'
        content=users
        optionValuePath='content.id'
        optionLabelPath='content.fullName'
        placeholder='Select an assignee'
      }}

      {{!-- TODO if notTesting --}}
      {{#if new}}
        {{input-group
          property='testTaskSelection'
          type='selectize'
          content=testTaskOptions
          optionValuePath='content.value'
          optionLabelPath='content.name'
          placeholder='Add a test task?'
          modelPath=null
          disabled=taskIsInTestingStage
        }}
      {{/if}}

      {{!-- TODO --}}
      {{!-- {{partial 'form-components/notes'}} --}}

    {{/form-controls}}

    {{form-submission}}

  {{/form-wrapper}}
{{/page-content}}
