<form>
  {{input name}}
  {{input start as='date'}}
  {{input end as='date'}}
  {{input notes as='text'}}

  {{#each stage in stages}}
    {{stage.type.name}}
  {{/each}}

  {{form-submission}}
</form>
