<form>
  {{input name}}
  {{input startDate as='date'}}
  {{input endDate as='date'}}
  {{input notes as='text'}}

  {{startDate}}

  {{#each stage in stages}}
    {{stage.type.name}}
  {{/each}}

  {{range-slider lower=lowerValue upper=upperValue}}
  {{lowerValue}}{{upperValue}}

  {{form-submission}}
</form>
