<form>

  {{input startDate as='date' maxDate=endDate}}
  {{input endDate as='date' minDate=startDate}}

  {{range-slider
    lower=lowerDuration
    upper=upperDuration
    max=totalDuration
  }}

  {{input name}}
  {{input notes as='text'}}

  {{form-submission}}
</form>
