<h1>{{name}}</h1>

{{#link-to 'feature.edit' content}}Edit{{/link-to}}

<p>
  {{moment startDate dateFormat}}
  -
  {{moment endDate dateFormat}}
</p>

<ol>
  {{#each stage in stages}}
    <li>{{stage.duration}}</li>
  {{/each}}
</ol>

<ul>
  {{#each task in tasks}}
    <li>
      {{task.name}}
    </li>
  {{/each}}
</ul>
