{{feature-navigation}}

{{#page-header}}
  <h1>Feature Backlog</h1>
{{/page-header}}

{{#page-content}}

  {{#if actionResponse}}
    <span class="action_response {{actionResponseClass}}">
      <span class="icon-success"></span>
      <span class="text">{{actionResponse}}</span>
    </span>
  {{/if}}

  {{#if (and (not backlogFeatures.length) (not model.isLoading))}}
    <div class="blocker">
      <h2 class="heading">
        <span class="icon-new"></span>
        <span class="text">Whoa there!</span>
      </h2>

      {{#flash-message type='warning' action='addFirstFeature'}}
        You have no features in your backlog. Click here to add one.
      {{/flash-message}}
    </div>
  {{/if}}

  {{#sortable-group
    classNameBindings='model.isUpdating:fade-out:fade-in'
    class='backlog_feature_list'
    onChange='reorderBacklog'
    tagName='ol'
    as |group|
  }}

    {{#each rankedBacklogFeatures as |feature|}}

      {{#sortable-item
        class='backlog_feature'
        group=group
        model=feature
        tagName='li'
      }}
        <dl class="backlog_feature_content">
          <dt class="hidden">Name</dt>
          <dd class="backlog_feature_name">
            {{feature.name}}
          </dd>
          {{!-- TODO - size --}}
          {{!-- <dt class="hidden">Size</dt>
          <dd>
            {{size-icon 1}}
          </dd> --}}
          <dt class="hidden">Options</dt>
          <dd class="backlog_feature_button">
            {{#link-to 'feature.edit' feature
              (query-params inBacklog=false)
              tooltipContent='Set goals'
              tooltipTypeClass='light'
            }}
              <span class="icon-calendar"></span>
              <span class="hidden">Set goals</span>
            {{/link-to}}
          </dd>
          <dd class="backlog_feature_button">
            {{#link-to 'feature' feature
              tooltipContent='View feature'
              tooltipTypeClass='light'
            }}
              <span class="icon-go"></span>
              <span class="hidden">View</span>
            {{/link-to}}
          </dd>
        </dl>
      {{/sortable-item}}
    {{/each}}

  {{/sortable-group}}

{{/page-content}}
