<h1 class="hidden">Settings</h1>

{{!-- {{#page-header}}

  {{image-tag src=avatarUrl alt=fullName class='avatar'}}

  <h2 class="heading">{{fullName}}</h2>

  {{#link-to 'user.edit' content}}
    <span class="icon-pencil"></span>
    <span class="hidden">Edit user</span>
  {{/link-to}}

  <button {{action 'invalidateSession'}} class="signout_button">
    <span class="text">Sign out</span>
    <span class="icon-go"></span>
  </button>
{{/page-header}} --}}

{{#page-content}}

  <svg height="260" width="320">
    <polygon points="10 250,310 250,160 10" class="triangle_outer">
    </polygon>
    <polygon points="30 240,290 240,160 30" class="triangle_inner">
    </polygon>
  </svg>

  <ul>
    <li>
      {{#link-to 'user.edit' content}}
        Team
      {{/link-to}}
    </li>
    <li>
      {{#link-to 'user.edit' content}}
        Product
      {{/link-to}}
    </li>
    <li>
      {{#link-to 'user.edit' content}}
        Developer
      {{/link-to}}
    </li>
  </ul>

  <h2>Team</h2>

{{!--   <dl class="list-def">
    <dt>Name</dt>
    <dd>{{team.name}}</dd>
    <dt>Members</dt>
    {{#each member in team.members}}
      <dd>{{fullName}}</dd>
    {{/each}}
  </dl> --}}
{{/page-content}}
