<h1 class="hidden">Settings</h1>

{{#page-header}}

  {{image-tag src=avatarUrl alt=fullName class='avatar'}}

  <h2 class="heading">{{fullName}}</h2>

  {{#link-to 'user.edit' content}}
    <span class="icon-pencil"></span>
    <span class="hidden">Edit user</span>
  {{/link-to}}

  <button {{action 'invalidateSession'}} class="signout_button">
    <span class="text">Sign out</span>
    <span class="icon-go"></span>
  </button>
{{/page-header}}

{{#page-content}}
  <h2>Team</h2>

  <dl class="list-def">
    <dt>Name</dt>
    <dd>{{team.name}}</dd>
    <dt>Members</dt>
    {{#each member in team.members}}
      <dd>{{fullName}}</dd>
    {{/each}}
  </dl>
{{/page-content}}
