<h1 class="hidden">Settings</h1>

{{!-- {{#page-header}}

  {{image-tag src=avatarUrl alt=fullName class='avatar'}}

  <h2 class="heading">{{fullName}}</h2>

  {{#link-to 'user.edit' content}}
    <span class="icon-pencil"></span>
    <span class="hidden">Edit user</span>
  {{/link-to}}

  <button {{action 'invalidateSession'}} class="signout_button">
    <span class="text">Sign out</span>
    <span class="icon-go"></span>
  </button>
{{/page-header}} --}}

{{#page-content}}

  <div class="settings_triangle">

    <ul>
      <li>
        {{#link-to 'user.edit' content}}
          Team
        {{/link-to}}
      </li>
      <li>
        {{#link-to 'user.edit' content}}
          Product
        {{/link-to}}
      </li>
      <li>
        {{#link-to 'user.edit' content}}
          Developer
        {{/link-to}}
      </li>
      <li>
        {{#link-to 'features'}}
          <span class="icon-fire"></span>
          <span class="hidden">Back to the roadmap</span>
        {{/link-to}}
      </li>
    </ul>

    <svg height="262" width="326">
      <polygon points="14 254,314 254,164 14" class="triangle_outer">
      </polygon>
      <polygon points="36 242,292 242,164 36" class="triangle_inner">
      </polygon>
    </svg>

  </div>

  {{!-- <h2>Team</h2> --}}

{{!--   <dl class="list-def">
    <dt>Name</dt>
    <dd>{{team.name}}</dd>
    <dt>Members</dt>
    {{#each member in team.members}}
      <dd>{{fullName}}</dd>
    {{/each}}
  </dl> --}}
{{/page-content}}
