<form>
  {{input-group value=model.firstName}}
  {{input-group value=model.lastName}}
  {{input-group value=model.email}}
  {{input-group value=model.password}}

  {{input-group
    value=model.team
    type='selectize'
    content=teams
    optionValuePath='content.id'
    optionLabelPath='content.name'
    placeholder='Select a team'
  }}

  {{form-submission}}
</form>
