<form>
  {{input-group value=firstName}}
  {{input-group value=lastName}}
  {{input-group value=email}}
  {{input-group value=password}}

  {{input-group
    value=team
    type='selectize'
    content=teams
    optionValuePath='content.id'
    optionLabelPath='content.name'
    placeholder='Select a team'
  }}

  {{form-submission}}
</form>
